# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Directory for storing .pid files
pm2/

# Editor directories and files
.idea/
.vscode/
.DS_Store
.editorconfig
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Optional npm cache directory
.npm

# Build output
build/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production